<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="User" />
      <add key="BeepDiggs" value="true" />
      <add key="BeepComments" value ="true"/>
      <add key="StoryCount" value ="25"/>
      <add key="Interval" value ="60"/>
    </appSettings>
</configuration>